<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671082440332-to5tvl835ese21qrirv0buq3pbju6ffk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671082440332-to5tvl835ese21qrirv0buq3pbju6ffk</string>
	<key>API_KEY</key>
	<string>AIzaSyCDPG3lJUs9cIbJ_CDPuV_mNpxeLOdxUGI</string>
	<key>GCM_SENDER_ID</key>
	<string>671082440332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>itiproject-e11db</string>
	<key>STORAGE_BUCKET</key>
	<string>itiproject-e11db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671082440332:ios:945a6096d4ad339d5e7da9</string>
</dict>
</plist>