<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492200920618-lsen49jc9o44ol222hunu0pn3f7q9h0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492200920618-lsen49jc9o44ol222hunu0pn3f7q9h0o</string>
	<key>API_KEY</key>
	<string>AIzaSyC8p-i9Wfj7ozDIJW1Q61EowRrnf_sITVg</string>
	<key>GCM_SENDER_ID</key>
	<string>492200920618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iti-training-a125a</string>
	<key>STORAGE_BUCKET</key>
	<string>iti-training-a125a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492200920618:ios:538198dcb8cf00bf336553</string>
</dict>
</plist>